---
---

<section class="pricing-table" id="pricing">
  <div class="container">
    <div class="center text-container">
      <h3 class="h1-title">Choose the right plan</h3>
      <p>
        These tiers are often determined by factors such as trading volume or
        token holdings.
      </p>
    </div>

    <div class="row">
      <div class="one-third column price-item">
        <div class="price-header m-margin">
          <h5 class="l-subtitle">Basic User</h5>
          <h3 class="h2-title">
            $0.99 NFT<span class="s-paragraph"> / Profile</span>
          </h3>
          <a href="#" class="button u-full-width">Buy NFT</a>
        </div>

        <div class="price-list">
          <p>No minimum requirements</p>
          <p>Standard fee structure applies</p>
          <p>Basic access to trading pairs.</p>
          <p>No extra staking rewards or rebates.</p>
          <p>Limited access to liquidity mining programs.</p>
          <p>Access to standard customer support.</p>
          <p>Suitable for new users or those who trade infrequently.</p>
        </div>
      </div>
      <div class="one-third column price-item">
        <div class="price-header m-margin">
          <h5 class="l-subtitle">Intermediate User</h5>
          <h3 class="h2-title">
            $9.99 NFT<span class="s-paragraph"> / Profile</span>
          </h3>
          <a href="#" class="button button-primary u-full-width">Buy NFT</a>
        </div>

        <div class="price-list">
          <p>Moderate trading volume</p>
          <p>Reduced fees</p>
          <p>Reduced trading fees on more trading pairs.</p>
          <p>Access to limited staking rewards.</p>
          <p>Higher priority customer support.</p>
          <p>Eligible for occasional liquidity mining rewards.</p>
          <p>Potential for yield farming and staking rewards.</p>
        </div>
      </div>
      <div class="one-third column price-item">
        <div class="price-header m-margin">
          <h5 class="l-subtitle">Whale User</h5>
          <h3 class="h2-title">
            $99.99<span class="s-paragraph"> / Profile</span>
          </h3>
          <a href="#" class="button u-full-width">BUY NFT</a>
        </div>

        <div class="price-list">
          <p>Require high trading volume or Token holding</p>
          <p>Significantly reduced or even 0% fees</p>
          <p>Access to VIP trading pairs or early access to new tokens.</p>
          <p>Highest priority customer support (dedicated team).</p>
          <p>Maximum staking rewards and liquidity mining opportunities.</p>
          <p>Access to exclusive governance voting rights.</p>
          <p>Rebates or additional bonuses for high trading volumes.</p>
          <p>
            Potentially lower slippage on large trades due to higher liquidity
            pool access.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .pricing-table {
    background-color: #fff;
    .price-item {
      border: 1px solid #dde2e5;
      padding: 30px;
      margin-top: 20px;
      border-radius: 20px;
      .price-header {
        h3 .s-paragraph {
          color: #9ba5b9;
        }
      }
      .price-list {
        p {
          margin: 10px 0;
          position: relative;
          padding-left: 20px;
          &::before {
            position: absolute;
            content: "";
            left: 0;
            top: 5px;
            display: inline-block;
            transform: rotate(45deg);
            height: 8px;
            width: 5px;
            border-bottom: 2px solid #9ba5b9;
            border-right: 2px solid #9ba5b9;
            z-index: 5;
          }
        }
      }
    }
  }
</style>
